<section id="home" class="hero">
  <div class="hero-content" data-aos="fade-right">
    <h1>
      Hi, I'm
      <span>Venkatachalam</span>
    </h1>

    <h2>MEAN Stack Developer</h2>

    <p>
      Passionate frontend developer creating scalable enterprise applications with Angular,
      TypeScript and modern UI technologies.
    </p>

    <div class="hero-buttons">
      <a href="/assets/Venkatachalam_M_FullStack_Developer_Resume.pdf" download class="btn-secondary"> Download Resume </a>
    </div>
  </div>
</section>
